<!DOCTYPE html>
<html>
    <body>
        <meta charset="utf-8">
        <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>

        <!--v-for 可以绑定数据到数组来渲染一个列表-->
        <div id="appforarray">
            <ol>
                <li v-for="site in sites">
                    {{ site.name }}
                </li>
            </ol>
        </div>
              
        <script>
            new Vue
            ({
                el: '#appforarray',
                data: {
                sites: 
                    [{ name: 'Runoob' },
                    { name: 'Google' },
                    { name: 'Taobao' }]
                }
            })
        </script>

        <!--模板中使用 v-for-->
        <div id="appfortemplate">
            <ul>
                <template v-for="site in sites">
                    <li>{{ site.name }}</li>
                    <li>--------------</li>
                </template>
            </ul>
        </div>
              
        <script>
            new Vue
            ({
                el: '#appfortemplate',
                data:
                {
                    sites:
                        [{ name: 'Runoob' },
                        { name: 'Google' },
                        { name: 'Taobao' }]
                }
            })
        </script>
        <hr>

        <!--v-for 可以通过一个对象的属性来迭代数据-->
        <div id="appinterator">
            <ul>
                <li v-for="value in object">
                    {{ value }}
                </li>
            </ul>
        </div>
              
        <script>
            new Vue
            ({
                el: '#appinterator',
                data:
                {
                    object:
                    {
                        name: 'Apple',
                        url: 'http://www.apple.com',
                        slogan: '苹果！'
                    }
                }
            })
        </script>

        <!--v-for 可以通过提供第二个的参数作为键名-->
        <div id="appinterator2">
            <ul>
                <li v-for="(value, key) in object">
                    {{ key }} : {{ value }}
                </li>
            </ul>
        </div>
              
        <script>
            new Vue
            ({
                el: '#appinterator2',
                data:
                {
                    object:
                    {
                        name: 'Apple',
                        url: 'http://www.apple.com',
                        slogan: '苹果！'
                    }
                }
            })
        </script>

        <!--v-for 可以通过提供第三个参数作为索引-->
        <div id="appinterator3">
            <ul>
                <li v-for="(value, key, index) in object">
                    {{ index }}. {{ key }} : {{ value }}
                </li>
            </ul>
        </div>
              
        <script>
            new Vue
            ({
                el: '#appinterator3',
                data:
                {
                    object:
                    {
                        name: 'Apple',
                        url: 'http://www.apple.com',
                        slogan: '苹果！'
                    }
                }
            })
        </script>
        <hr>

        <!--v-for 迭代整数-->
        <div id="appint">
            <ul>
                <li v-for="n in 10">
                    {{ n }}
                </li>
            </ul>
        </div>
              
        <script>
            new Vue
            ({
                el: '#appint'
            })
        </script>

        <!--v-for 循环数组-->
        <div id="apparr">
            <ul>
                <li v-for="n in [1,3,5]">
                    {{ n }}
                </li>
            </ul>
        </div>
        <script>
            new Vue
            ({
                el: '#apparr'
            })
        </script>
        <hr>
        
        <!--乘法表-->
        <div id="app">
            <div v-for="n in 9">
                <b v-for="m in n">
                    {{m}}*{{n}}={{m*n}}
                </b>
            </div>
        </div>
            
        <script>
            new Vue
            ({
                el: '#app'
            })
        </script>
    </body>
</html>