<!DOCTYPE html>
<html>
    <style>
        .class1
        {
          background: #444;
          color: #eee;
        }
    </style>

    <body>
        <meta charset="utf-8">
        <script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
        <!--插值/文本-->
        <div id="appmsg">
            <p>{{ message }}</p>
        </div>
        <!--插值/HTML-->
        <div id="appvhtml">
            <div v-html="message"></div>
        </div>
        <!--插值/属性-->
        <div id="appvbind">
            <label for="r1">修改颜色</label><input type="checkbox" v-model="class1" id="r1">
            <br><br>
            <div v-bind:class="{'class1': class1}">
                directiva v-bind:class
            </div>
        </div>
        <br>
        <!--插值/表达式-->
        <div id="appstat">
            {{5+5}}<br>
            {{ ok ? 'YES' : 'NO' }}<br>
            {{ message.split('').reverse().join('') }}
            <div v-bind:id="'list-' + id">list1</div>
        </div>

        <script>
        // 插值/文本
        new Vue
        ({
            el: '#appmsg',
            data:
            {
                message: 'Hello Vue.js!'
            }
        })
        // 插值/HTML
        new Vue
        ({
            el: '#appvhtml',
            data:
            {
                message: '<h1>Microsoft</h1>'
            }
        })
        // 插值/属性
        new Vue
        ({
            el: '#appvbind',
            data:
            {
                class1: false
            }
        });
        // 插值/表达式
        new Vue
        ({
          el: '#appstat',
          data:
          {
            ok: true,
            message: 'Apple',
            id : 1
          }
        })
        </script>

        <hr>
        <!--指令-->
        <!--v-if 指令将根据表达式 seen 的值(true 或 false )来决定是否插入 p 元素-->
        <div id="appvif">
            <p v-if="seen">hello!</p>
            <template v-if="ok">
                <h1>Title</h1>
                <p>p1:abcd</p>
                <p>p2:abcd</p>
            </template>
        </div>
        <!--v-bind 指令被用来响应地更新 HTML 属性-->
        <div id="appvbindctl">
            <!-- v-bind:href="url" 可缩写为 :href="url" -->
            <pre><a v-bind:href="url">百度一下</a></pre>
        </div>
              
        <script>
            // v-bind 指令被用来响应地更新 HTML 属性
            new Vue
            ({
                el: '#appvif',
                data:
                {
                    seen: true,
                    ok: true
                }
            })
            // v-on 指令用于监听 DOM 事件
            new Vue
            ({
                el: '#appvbindctl',
                data:
                {
                    url: 'http://www.baidu.com'
                }
            })
        </script>
        
        <hr>
        <!--用户输入-->
        <!--在 input 输入框中我们可以使用 v-model 指令来实现双向数据绑定-->
        <div id="appvmodel">
            <p>{{ message }}</p>
            <input v-model="message">
        </div>
        <!--按钮的事件我们可以使用 v-on 监听事件，并对用户的输入进行响应-->
        <div id="appvon">
                <p>{{ message }}</p>
                <!-- v-on:click="doSomething" 可缩写为 @click="doSomething" -->
                <button v-on:click="reverseMessage">反转字符串</button>
            </div>

        <script>
            // 在 input 输入框中我们可以使用 v-model 指令来实现双向数据绑定
            new Vue
            ({
                el: '#appvmodel',
                data:
                {
                    message: 'HelloWorld!!'
                }
            })
            // 按钮的事件我们可以使用 v-on 监听事件，并对用户的输入进行响应
            new Vue
            ({
                el: '#appvon',
                data:
                {
                    message: 'Microsoft!'
                },
                methods:
                {
                    // 字符串反转
                    reverseMessage: function ()
                    {
                        this.message = this.message.split('').reverse().join('')
                    }
                }
            })
        </script>

        <hr>

        <!--过滤器-->
        <!--管道符-->
        <!--
             在两个大括号中:     {{ message | capitalize }}
             在 v-bind 指令中:   <div v-bind:id="rawId | formatId"></div>
             串联:              {{ message | filterA | filterB }}
             接受参数:          {{ message | filterA('arg1', arg2) }}
        -->
        <div id="app">
            {{ message | capitalize }}
        </div>
                  
        <script>
            new Vue
            ({
                el: '#app',
                data:
                {
                    message: 'helloworld'
                },
                filters:
                {
                    capitalize: function (value)
                    {
                        if (!value) return ''
                        value = value.toString()
                        return value.charAt(0).toUpperCase() + value.slice(1)
                    }
                }
            })
        </script>
    </body>
</html>